{% extends "base.html" %}

{% block title %}
    Izveidot ierosinājumu
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-light mb-4">Izveidot ierosinājumu</h1>
    <form action="{{ url_for('create_idea') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="text-light") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label(class="text-light") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.category.label(class="text-light") }}
            {{ form.category(class="form-control") }}
        </div>
        <h5 class="text-light">Balsošanas opcijas</h5>
        <div id="voting-options">
            {% for voting_option in form.voting_options %}
                <div class="form-group">
                    {{ voting_option.option_text.label(class="text-light") }}
                    {{ voting_option.option_text(class="form-control") }}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="addVotingOption()">Pievienot opciju</button>
        <button type="submit" class="btn btn-primary mt-3">Publicēt</button>
    </form>
</div>

<script>
    const csrfToken = '{{ csrf_token() }}';  // Store CSRF token in a JavaScript variable
    let index = {{ form.voting_options|length }};  // Start from the current length of the voting options

    function addVotingOption() {
        const container = document.getElementById('voting-options');
        const option = document.createElement('div');
        option.classList.add('form-group');
        option.innerHTML = `
            <label class="text-light" for="voting_options-${index}-option_text">Option</label>
            <input class="form-control" id="voting_options-${index}-option_text" name="voting_options-${index}-option_text" type="text">
            <input type="hidden" name="csrf_token" value="${csrfToken}">
        `;
        container.appendChild(option);
        index++;
    }
</script>
{% endblock %}







